h1 {
    position: absolute;
    left: 3vw;
    color: rgba(253, 149, 90, 0.8);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    background-color: burlywood;
}

.modal {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.modal.hidden {
    display: none;
}

.modal>.modal-body {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 400px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6)
}

.modal>.modal-body>img {
    height: 120px;
    padding: 20px;
    border-radius: 50%;
}

.modal>.modal-body>img:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.modal>.modal-body>.checkmate-body {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.modal>.modal-body>.checkmate-body>span {
    font-size: 32px;
    color: white;
}

.modal>.modal-body>.checkmate-body>button {
    background-color: rgb(119, 70, 42);
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 24px;
    color: white;
}

.modal>.modal-body>.checkmate-body>button:hover {
    cursor: pointer;
}

.play-info p {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}